<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <div class="alert alert-danger-light">
                <p>
                    <b>警告:</b><br>
                    1、如果你的网站已存在正式数据了，请不要导入数据！！！数据会被覆盖！<br>
                    2、导入数据之前，一定要先备份数据库，以免数据丢失！<br>
                </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">模板名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input type="text" class="form-control" disabled value="{$title|htmlentities}">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">选择使用语言:</label>
        <div class="col-xs-12 col-sm-8">
            <select name="row[lg]" class="form-control selectpicker">
                {foreach $langs as $k=>$lang}
                <option value="{$k}">{$lang}</option>
                {/foreach}
            </select>
        </div>
    </div>

    {if $is_testdata }
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <div class="alert alert-error-light" style="margin-bottom: 0">
                <p>
                    此模板携带数据，如选择导入，原本的数据将会被覆盖。
                </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">导入模板数据:</label>
        <div class="col-xs-12 col-sm-8">
            {:build_radios('row[is_import]', ['0'=>'不导入', '1'=>'导入'],0)}
        </div>
    </div>
    <div class="form-group hidden" data-favisible="is_import=1">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <input type="checkbox" id="c-is_import_agree" data-rule="checked" data-msg="请先确认是否已经备份数据？" name="row[is_import_agree]" value="1">
            <strong class="text-danger">我已备份数据库且同意覆盖线上已存在的数据</strong>
        </div>
    </div>
    {/if}

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <input type="hidden" name="row[name]" value="{$name|htmlentities}">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>