{extend name="base" /} {block name="main"}
<!-- neibanner -->
{ld:sort cid="$topid"}
<div class="neibanner">
    <img src="{$item.big_image}" alt="{$item.name}" />
    <div class="neibannerdesc">
        <div class="container neibannerdesc-title">
            <p>{$item.ename}</p>
            <h2>{$item.name}</h2>
        </div>
    </div>
</div>
{/ld:sort}
<!-- neibanner end -->

<!-- Inner Navigation -->
{include file="neinav" /}
<!-- Inner Navigation end -->

<section class="page-content contact-wrapper">
    <div class="container">
        <div class="page-content-card card">
            <div class="card-body">
                <div class="contactb_item row">
                    <div class="contact_bl col-12 col-xl-6">
                        <h4>{$category.ename}</h4>
                        <h3>{$category.des1}</h3>
                        <div class="contact_blline"></div>
                        <h5>{$category.des2}</h5>
                        <div class="contact-info-list">
                            <div class="row">
                                <div class="col-6">
                                    <p>E-Mail</p>
                                    <h6>{$ld.email}</h6>
                                </div>
<!--                                <div class="col-6">-->
<!--                                    <p>公司总机</p>-->
<!--                                    <h6>{$ld.phone}</h6>-->
<!--                                </div>-->
                                <div class="col-6">
                                    <p>Consultation Hotline</p>
                                    <h6>{$ld.tel}</h6>
                                </div>
                                <div class="col-6">
                                    <p>Company Address</p>
                                    <h6>{$ld.address}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact_br col-12 col-xl-6">
                        <form class="d-flex flex-wrap justify-content-between" action="{:addon_url('ldcms/diyform/message')}" method="post">
                            <input type="text" name="uname" id="" placeholder="Name *" />
                            <input type="tel" name="mobile" id="" placeholder="Phone *" />
                            <input type="email" name="emails" id="" placeholder="Email *" />
                            <input type="text" name="companys" id="" placeholder="Company *" />
                            <textarea name="remark" id="" placeholder="Please enter your message *"></textarea>
                            {:token()}
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- Product Information -->
{ld:action action="home_block" model_table_name="product" alias="cate"}
<section class="case-wrapper">
    <div class="container position-relative">
        <div class="d-flex align-items-center justify-content-between">
            <div class="public-title">
                <h3>{$cate.name}</h3>
                <p>{$cate['ename']}</p>
            </div>
            <a href="{$cate.url}" class="public-more">MORE <i class="fa fa-angle-double-right"></i> </a>
        </div>

        <div class="swiper row case-swiper">
            <ul class="swiper-wrapper">
                {ld:list cid="$cate['id']" limit='6' condition="FIND_IN_SET(1, extend.types)"}
                <li class="swiper-slide wow fadeInRight" data-wow-delay="0.{$i}s">
                    <a href="{$item.url}" title="{$item.title}">
                        <div class="swiper-slide-img">
                            <img src="{$item.image}" alt="{$item.title}" />
                        </div>
                        <div class="case-content-wrapper">
                            <h3>{$item.title}</h3>
                        </div>
                    </a>
                </li>
                {/ld:list}
            </ul>
        </div>
        <!-- Add Arrows -->
        <div class="case-next">
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="case-prev">
            <i class="fa fa-angle-left"></i>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>
{/ld:action}
<!-- Product Information end -->

<section class="page-content contact-wrapper">
    <div class="container">
        <div class="contact_map animate" data-animate="fadeInUp" data-duration="1.5s" data-delay="0.1s">
            <h3 class="neititle">Map Navigation</h3>
            <div class="contact_mapitem">
                <div class="contact_b">
                    <div id="map"></div>
                    <style>
                        #map {
                            overflow: hidden;
                            width: 100%;
                            height: 480px;
                            margin: 0;
                            font-family: "微软雅黑";
                        }
                    </style>

                    <script src="https://maps.googleapis.com/maps/api/js?key={$ld.google_maps_key}&callback=initMap" async defer></script>
                    <script type="text/javascript">
                        function initMap() {
                            // Parse longitude and latitude (format: longitude, latitude)
                            var coords = '{$ld.mpdw}'.split(',');
                            var lng = parseFloat(coords[0]);
                            var lat = parseFloat(coords[1]);

                            // Create map center point
                            var center = { lat: lat, lng: lng };

                            // Initialize map
                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 15,
                                center: center,
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                zoomControl: true,
                                scaleControl: true,
                                streetViewControl: true,
                                fullscreenControl: true
                            });

                            // Add marker
                            var marker = new google.maps.Marker({
                                position: center,
                                map: map,
                                title: '{$ld.company|default="Company Location"}',
                                animation: google.maps.Animation.DROP,
                                // Custom icon (optional)
                                // icon: {
                                //     url: '__ADDON__/ldcms2024/images/marker-icon.png',
                                //     scaledSize: new google.maps.Size(35, 50)
                                // }
                            });

                            // Add info window
                            var infoWindow = new google.maps.InfoWindow({
                                content: '<div style="padding: 10px;"><h4>{$ld.company|default="Company Name"}</h4><p>{$ld.address|default="Company Address"}</p></div>'
                            });

                            // Click marker to display info window
                            marker.addListener('click', function() {
                                infoWindow.open(map, marker);
                            });
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>

{/block}
